<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    {% if title %}
    {{ title }}
    {% else %}
    No title
    {% endif %}
    {% endblock title %}
    </title>
</head>
<body>
<ul>
    <li><a href="{{ url_for('pages.index') }}">Home</a></li>
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('pages.test_login_required') }}">Test Login Required</a></li>
    <li><a href="{{ url_for('auth.reset_password_request') }}">Reset password request</a></li>
    <li><a href="{{ url_for('auth.change_password') }}">Change password</a></li>
    <li><a href="{{ url_for('profiles.user_profile', username=current_user.username) }}">My Profile</a></li>
    <li><a href="{{ url_for('registration.register') }}">Registration</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
</ul>
<hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
</body>
</html>