<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    {% if title %}
    {{ title }}
    {% else %}
    No title
    {% endif %}
    {% endblock title %}
    </title>

    <!-- no dark mode version -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bulma/bulma.1.0.2.min.css') }}">
    <!-- custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- alpine -->
    <script src="{{ url_for('static', filename='vendor/alpinejs/alpine.3.4.18.min.js') }}" defer></script>
    {% block custom_css_links %}{% endblock %}
    {% block custom_css_styles %}{% endblock %}
</head>
<body>
<ul>
    <li><a href="{{ url_for('pages.index') }}">Home</a></li>
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('pages.test_login_required') }}">Test Login Required</a></li>
    <li><a href="{{ url_for('auth.reset_password_request') }}">Reset password request</a></li>
    <li><a href="{{ url_for('auth.change_password') }}">Change password</a></li>
    <li><a href="{{ url_for('profiles.user_profile', username=current_user.username) }}">My Profile</a></li>
    <li><a href="{{ url_for('registration.register') }}">Registration</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
</ul>
<hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block custom_js_srcs %}{% endblock %}
    {% block custom_js_scripts %}{% endblock %}
</body>
</html>